@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap");

.depoimento {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--cor-p1);
  align-items: end;
  justify-items: center;
}

.depoimento img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comentario {
  padding: 40px 40px 80px 80px;
}

.comentario p {
  font-family: "Merriweather", serif;
  max-width: 32ch;
  padding-bottom: 20px;
  position: relative;
}

.comentario p::before {
  content: "“";
  position: absolute;
  left: -20px;
  top: -10px;
  color: var(--cor-p2);
}

.comentario p::after {
  content: "”";
  color: var(--cor-p2);
}

@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
  }
  .comentario {
    text-align: center;
  }

  .depoimento img {
    max-height: 200px;
  }
}
